* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

.page-wrapper {
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
}

.primary-btn {
  padding: 20px 24.5px;
  border-radius: 1000px;
  border: none;
  background: var(--G1, linear-gradient(90deg, #8cc63f 0%, #39b54a 129.57%));
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--p-5, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* topbar css */

.topbar {
  text-align: center;
  padding: 8px 0;
  background: var(--p-1, #009245);
}

.topbar p {
  color: var(--p-4, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 171.429% */
}

.topbar p a {
  color: var(--p-4, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 171.429% */
}

.topbar p span {
  margin-left: 10px;
  border-bottom: 1px solid var(--p-4, #fff);
}

/* Navbar css */

.navbar .page-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0 19px 0;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  gap: 26px;
}

.menu-items a {
  color: var(--black-color-200, #424c4a);
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  padding: 13px;

  border-radius: 8px;
  background: #fafafa;
}

.reaction-cart {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  background: #fafafa;
  padding: 10px 20px;
}

.reaction-cart p {
  color: var(--secondary-color-secondary-1, #1a162e);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 122.222% */
}

.reaction,
.cart {
  display: flex;
  align-items: center;
  gap: 10px;
}

.line-1 {
  width: 1px;
  height: 30px;
  background: var(--secondary-color-secondary-4, #ededf6);
}

.line-2 {

  height: 1px;
  background: #343434;
}

/* feature */
.feature {
  background: #202622;
  padding: 130px 0;
}

.feature-title {
  color: #fff;
  text-align: center;
  font-family: DM Serif Text;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  /* 116.667% */
  letter-spacing: -0.48px;
  margin-bottom: 60px;
}

.feature-img {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.feature-img-2 {
  position: absolute;
  bottom: 25px;
  left: 329px;
}

.growing {
  background: var(--p-4, #1d211e);
}

.growing .page-wrapper {
  padding: 139px 0;
}

.growing-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 19px;
}

.growing-title {
  color: #fff;
  font-family: DM Serif Text;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  /* 116.667% */
  letter-spacing: -0.48px;
  margin-bottom: 16px;
}

.growing-desc {
  color: #fff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  opacity: 0.8;
  width: 465px;
}

.growing-card-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 115px 0 120px;
  margin-top: 83px;
}

.growing-card p {
  color: #fff;
  text-align: center;
  font-family: DM Serif Text;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  /* 140% */
}

.growing-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  padding: 0 24px;
  border-radius: 50%;
}

.card1 {
  border: 13px solid #8cc63f;
}

.card2 {
  border: 13px solid #39b54a;
}

.card3 {
  border: 13px solid #8cc63f;
}

.card4 {
  border: 13px solid #39b54a;
}

.growing-indoor {
  padding: 100px;
  padding-right: 224px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 30px;
  border: 3px solid #009245;
  background: #202622;
  margin-top: 82px;
}

.growing-indoor h2 {
  color: #fff;
  font-family: DM Serif Text;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  /* 116.667% */
  margin-bottom: 30px;
}

.growing-indoor p {
  color: var(--p-5, #fff);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 177.778% */
  opacity: 0.8;
  width: 543px;
  margin-bottom: 12px;
}

.growing-indoor .primary-btn {
  margin-top: 30px;
}

.growing-indoor-img {
  position: relative;
}

.growing-indoor-img2 {
  position: absolute;
  left: 221px;
  top: 131px;
}

/* Nutrition */
.nutrition {
  background: #202622;
}

.nutrition .page-wrapper {
  padding-top: 80px;
  padding-bottom: 187px;
}

.nutrition .nutrition-content {

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 170px;
}

.nutrition-title {
  color: var(--p-5, #FFF);
  text-align: left;
  font-family: DM Serif Text;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;


}


.nutrition-desc {
  width: 543px;
  color: var(--p-5, #FFF);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;

  opacity: 0.8;
}

.nutrition .primary-btn {
  margin-top: 40px;

}

.nutrition-img {
  position: relative;

}

.nutrition-img-2 {
  position: absolute;
  left: 281px;
  top: 167px;
}

/* News Letter */
.newsletter {
  background: #202622;

}

.newsletter .page-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1B3F34;
  padding-top: 100px;
  padding-bottom: 100px;
}

.newsletter h2 {
  color: var(--p-4, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: DM Serif Text;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;
}

.newsletter p {
  color: var(--p-5, #FFF);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: '' Plus Jakarta Sans', sans-serif', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;

  opacity: .8;
  width: 522px;
}

.input-email {
  width: 477px;
  padding: 26px 158px;
  border-radius: 1000px;
  background: var(--p-4, #FFF);
  margin-bottom: 20px;
}

.input-email:focus {
  outline: none;
}

.subscribe-btn {
  width: 477px;
  padding: 24px 168px;
}

.footer {
  background: #202622;

}

.footer .footer-top {
  padding-top: 90px;
  padding-bottom: 109px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 125px;
}


.footer-logo-area img {
  margin-bottom: 30px;
}

.footer-logo-area p {
  color: var(--gary-base, #B4B4B4);
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 177.778% */
  width: 315px;
}

.footer h2 {
  color: var(--neutral-pure-white, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 90% */
  margin-bottom: 26px;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer ul li a {
  color: var(--gary-base, #B4B4B4);
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.mt-35 {
  margin-top: 35px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 34px;
}

.copyright p {
  color: var(--gary-base, #B4B4B4);
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 2000px;
  background: #343D37;
}